# ignore various backups and temp files
.DS_Store
~$*.xls*
~$*.ppt*
~$*.doc*
*.tmp
*.xlk
~*.idlk

# Emacs
.\#*
\#*\#
*~

# R history and data files
*.Rproj
.Rproj.user
*.Rhistory
*.RData
*.Rapp.history
*Rplots.pdf

# Large files
data/*
!*/data_description.txt
!*/sample_submission.csv
!*/test.csv
!*/train.csv
!*/submissions
logs/

# Intellij
*.iml

# Jupyter
*.ipynb_checkpoints/

# Misc
.idea/